In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline
from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)
import warnings
warnings.filterwarnings('ignore')
import pickle
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('flights.csv',usecols=[0,1,9,12,14,21,23,24,32,34])

In [3]:
df['month'] = pd.DatetimeIndex(df['fl_date']).month
df['month_day'] = pd.DatetimeIndex(df['fl_date']).day
df['week_day'] = pd.DatetimeIndex(df['fl_date']).weekday
df['year_day'] = pd.DatetimeIndex(df['fl_date']).dayofyear
df['dep_hour'] = pd.to_datetime(df['crs_dep_time'], format='%H%M', errors='coerce').dt.hour
df['arr_hour'] = pd.to_datetime(df['crs_arr_time'], format='%H%M', errors='coerce').dt.hour

In [4]:
df.head()

,fl_date,mkt_unique_carrier,origin,dest,crs_dep_time,crs_arr_time,arr_delay,cancelled,distance,weather_delay,month,month_day,week_day,year_day,dep_hour,arr_hour
0,2019-08-30,AS,PAE,LAX,1600,1850,-19.0,0,984,NaN,8,30,4,242,16.0,18.0
1,2019-08-30,AS,LAX,PAE,1955,2250,-24.0,0,984,NaN,8,30,4,242,19.0,22.0
2,2019-08-30,AS,PAE,PDX,630,725,-18.0,0,161,NaN,8,30,4,242,6.0,7.0
3,2019-08-30,AS,PDX,PAE,740,840,-8.0,0,161,NaN,8,30,4,242,7.0,8.0
4,2019-08-30,AS,PAE,PDX,1320,1415,15.0,0,161,0.0,8,30,4,242,13.0,14.0

In [5]:
df=df.drop(['crs_dep_time','crs_arr_time'], axis=1)

In [6]:
df.isnull().sum()

fl_date                      0
mkt_unique_carrier           0
origin                       0
dest                         0
arr_delay               311744
cancelled                    0
distance                     0
weather_delay         12918001
month                        0
month_day                    0
week_day                     0
year_day                     0
dep_hour                  2568
arr_hour                 48937
dtype: int64

In [7]:
df.head()

,fl_date,mkt_unique_carrier,origin,dest,arr_delay,cancelled,distance,weather_delay,month,month_day,week_day,year_day,dep_hour,arr_hour
0,2019-08-30,AS,PAE,LAX,-19.0,0,984,NaN,8,30,4,242,16.0,18.0
1,2019-08-30,AS,LAX,PAE,-24.0,0,984,NaN,8,30,4,242,19.0,22.0
2,2019-08-30,AS,PAE,PDX,-18.0,0,161,NaN,8,30,4,242,6.0,7.0
3,2019-08-30,AS,PDX,PAE,-8.0,0,161,NaN,8,30,4,242,7.0,8.0
4,2019-08-30,AS,PAE,PDX,15.0,0,161,0.0,8,30,4,242,13.0,14.0

In [8]:
df.drop('year_day',axis=1,inplace=True)

In [9]:
df['cancelled'].value_counts()

cancelled
0    15658277
1      269208
Name: count, dtype: int64

In [10]:
df.to_csv('data1.csv', index=False)